/* #navbar{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-left: 253px;
    background-color: gold;
} */
html{
    overflow-x: hidden;
}

header {
    background-color: #007281 !important;
}

body {
    background-color: #365252 !important;
}

a {
    font-family: 'MedievalSharp', cursive !important;
}



p {
    font-family: 'MedievalSharp', cursive !important;
}

#navbar {
    text-align: center;
    background-color: #6f989b !important;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    color: aliceblue;
    position: relative;
}

h1 {
    text-align: center;
    font-family: 'MedievalSharp', cursive !important;

}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: #6f989b !important;
    color: white;
    text-align: center;

}

h2 {
    font-family: 'Alamak!' !important;
    font-family: 'MedievalSharp', cursive !important;

    text-align: center;
}

a {
    color: black;
}

.carousel-inner {
    margin-top: 100px;
    margin-bottom: 100px;
}

.home-pic {
    width: 100px;
}

.foot-list {
    padding: 0px;
}

.carousel-inner {
    border: 5px solid black;

    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;

}

.parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 4 / 4;
border: solid 2px;
height: 200px;
background: url(img/EldenRingVR_1.jpeg) ;
background-size: cover;
margin-left: 25px;
display: block;
background-repeat: no-repeat;
}
.div2 { grid-area: 1 / 6 / 7 / 9; 
border: solid 2px;
height: 200px;
background: url(img/Elden-Ring-dragons-disappear.png);
background-size: cover;
display: block;
margin-right: 25px;
background-repeat: no-repeat;
}
.div3 { grid-area: 8 / 1 / 11 / 4; 
border: solid 2px;
background-size: cover;
display: block;
height: 200px;
margin-top: 30px;
margin-left: 25px;
background-image: url('img/calidelden-ring-decaying-ekzykes-720x720.jpg');
background-size: cover;
background-repeat: no-repeat;
}
.div4 { grid-area: 8 / 6 / 11 / 9;
    border: solid 2px;
    background-size: 100%;
    display: block;
    height: 200px;
    margin-top: 30px;
  margin-right: 25px;
  background: url(img/bridgedragon.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}
.div5 { grid-area: 4 / 2 / 8 / 7; 
border: solid black 2px;
background-color: #007281;
height: 250px;
margin-left: 100px;
margin-top: 25px;
background-repeat: no-repeat;
}

.parentCon {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    


    .div8 { grid-area: 1 / 2 / 2 / 7;
    background-image: url(petpics/VolcanoManor-1024x576.png);
    border: solid;
    height: 500px;
    background-position-x: -270px ;
    }
    @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

    html{    background:url(http://thekitemap.com/images/feedback-img.jpg) no-repeat;
      background-size: cover;
      height:100%;
    }
    
    #feedback-page{
        text-align:center;
    }
    
    #form-main{
        width:100%;
        float:left;
        padding-top:0px;
        
    }
    
    #form-div {
        grid-area: 1 / 1 / 2 / 4;
        background-color:rgba(72,72,72,0.4);
        padding-left:35px;
        padding-right:35px;
        padding-top:35px;
        padding-bottom:20px;
        margin-right: 20px;
        width: 450px;
        float: left;
        left: 50%;
        
      margin-top:20px;
        margin-left: 100px;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
    }
    
    .feedback-input {
        color:#3c3c3c;
        font-family: Helvetica, Arial, sans-serif;
      font-weight:500;
        font-size: 18px;
        border-radius: 0;
        line-height: 22px;
        background-color: #fbfbfb;
        padding: 13px 13px 13px 54px;
        margin-bottom: 10px;
        width:100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
      border: 3px solid rgba(0,0,0,0);
    }
    
    .feedback-input:focus{
        background: #fff;
        box-shadow: 0;
        border: 3px solid #3498db;
        color: #3498db;
        outline: none;
      padding: 13px 13px 13px 54px;
    }
    
    .focused{
        color:#30aed6;
        border:#30aed6 solid 3px;
    }
    
    /* Icons ---------------------------------- */
    #name{
        background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
        background-size: 30px 30px;
        background-position: 11px 8px;
        background-repeat: no-repeat;
    }
    
    #name:focus{
        background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
        background-size: 30px 30px;
        background-position: 8px 5px;
      background-position: 11px 8px;
        background-repeat: no-repeat;
    }
    
    #email{
        background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
        background-size: 30px 30px;
        background-position: 11px 8px;
        background-repeat: no-repeat;
    }
    
    #email:focus{
        background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
        background-size: 30px 30px;
      background-position: 11px 8px;
        background-repeat: no-repeat;
    }
    
    #comment{
        background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
        background-size: 30px 30px;
        background-position: 11px 8px;
        background-repeat: no-repeat;
    }
    
    textarea {
        width: 100%;
        height: 150px;
        line-height: 150%;
        resize:vertical;
    }
    
    input:hover, textarea:hover,
    input:focus, textarea:focus {
        background-color:white;
    }
    
    #button-blue{
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        float:left;
        width: 100%;
        border: #fbfbfb solid 4px;
        cursor:pointer;
        background-color: #3498db;
        color:white;
        font-size:24px;
        padding-top:22px;
        padding-bottom:22px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
      margin-top:-4px;
      font-weight:700;
    }
    
    #button-blue:hover{
        background-color: rgba(0,0,0,0);
        color: #0493bd;
    }
        
    .submit:hover {
        color: #3498db;
    }
        
    .ease {
        width: 0px;
        height: 74px;
        background-color: #fbfbfb;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -o-transition: .3s ease;
        -ms-transition: .3s ease;
        transition: .3s ease;
    }
    
    .submit:hover .ease{
      width:100%;
      background-color:white;
    }
    
    @media only screen and (max-width: 580px) {
        #form-div{
            left: 3%;
            margin-right: 3%;
            width: 88%;
            margin-left: 0;
            padding-left: 3%;
            padding-right: 3%;
            grid-area: 1 / 1 / 7 / 4;
            
        }
    }
.pet-p{
    z-index: 3;
    color: aliceblue;
}

#textemail{
    height: 500px;
    width: 500px;
}



.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    border: #6f989b solid 3px;
  }



#market{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#showMore{
    display: none;
}

.modal-dialog{
    max-width: 350px !important;
}
@media  only screen and (max-width:900px) {
    .div5 {
        overflow-y: auto;
    }
}
@media only screen and (max-width: 800px) {
    .parentCon{
        display: block;
        width: 100%;
        height: 100%;

    }
    #form-div{
        grid-area: 1 / 1 / 7 / 4;
        display: grid;
    }
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .div1{
        
        height: 100px;
        margin-bottom: 0px;
    }
    .div2{
        background-repeat: no-repeat;
        height: 100px;
        margin-bottom: 0px;
    }
    .div3{
        background-repeat: no-repeat;
        height: 100px;
        position: relative;
    }
    .div4{
        background-repeat: no-repeat;
        height: 100px;
        position: relative;
    }

    .div5{
        height: 500px;
        grid-area: 2 / 2 / 8 / 7;
    }
    
    
    .parentCon{
        display: block;
        width: 100%;
        height: 100%;

    }
    .div7{
        margin-left: 20px;
    }
    .div8{
        margin-left: 15px;
    }
    #showMore{
        display: none;

    }
    #form-div{
        grid-area: 1 / 1 / 7 / 4;
        display: grid;
    }
}
@media only screen and (max-width: 400px){
	
    .div1{
        height: 50px;
        position: relative;
        background-image: 75px;
    }
    .div2{
        grid-area: 1 / 5 / 7 / 9;
        margin-left: 30px;
        height: 50px;
        position: relative;
        background-image: 200px;
    }
    .div3{
        height: 50px;
    }
    .div4{
        height: 50px;
        margin-left: 40px;
        grid-area: 8 / 5 / 11 / 9;
    }
    #aboutTxt{
       position: relative;
       margin-right: 20px;
       width: 200px;
       max-height: 250px;
       overflow: hidden;
       
       -webkit-transition: max-height 0.7s;
       -moz-transition: max-height .07s;
       transition: 0.7s;
       grid-area: 2 / 1 / 8 / 7;
   }
   #aboutTxt.open{
       max-height: 3000px;
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height .07s;
    transition: 0.7s;
    margin-right: 20px;
    overflow-y: auto;
    grid-area: 2 / 1 / 8 / 9;
   }
  #showMore{
      width: 80px;
      margin: 5px;
      color: aliceblue;
      display: inline;
      border: solid;
      text-align: center;
      cursor: pointer;
      background-color: #6f989b;
   grid-area: 8 / 4 / 8 / 6;
  }

    .parentCon{
        display: block;
        width: 100%;
        height: 100%;

    }
    #form-main{
        margin-right: 800px;
        position: relative;

    }
    .div8{
        background-image: url(petpics/VolcanoManor-1024x576.png);
        background-position-x:  1950px;
        position: relative;
        display: none;
    }
   
}