/* #navbar{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-left: 253px;
    background-color: gold;
} */
html{
    overflow-x: hidden;
}

header {
    background-color: #007281 !important;
}

body {
    background-color: #365252 !important;
}

a {
    font-family: 'MedievalSharp', cursive !important;
}



p {
    font-family: 'MedievalSharp', cursive !important;
}

#navbar {
    text-align: center;
    background-color: #6f989b !important;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    color: aliceblue;
    position: relative;
}

h1 {
    text-align: center;
    font-family: 'MedievalSharp', cursive !important;

}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: #6f989b !important;
    color: white;
    text-align: center;

}

h2 {
    font-family: 'Alamak!' !important;
    font-family: 'MedievalSharp', cursive !important;

    text-align: center;
}

a {
    color: black;
}

.carousel-inner {
    margin-top: 100px;
    margin-bottom: 100px;
}

.home-pic {
    width: 100px;
}

.foot-list {
    padding: 0px;
}

.carousel-inner {
    border: 5px solid black;

    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;

}

.parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 4 / 4;
border: solid 2px;
height: 200px;
background: url(img/EldenRingVR_1.jpeg) ;
background-size: 100%;
margin-left: 25px;
display: block;
background-repeat: no-repeat;
}
.div2 { grid-area: 1 / 6 / 7 / 9; 
border: solid 2px;
height: 200px;
background: url(img/Elden-Ring-dragons-disappear.png);
background-size: 100%;
display: block;
margin-right: 25px;
}
.div3 { grid-area: 8 / 1 / 11 / 4; 
border: solid 2px;
background-size: 100%;
display: block;
height: 200px;
margin-top: 30px;
margin-left: 25px;
background-image: url('img/calidelden-ring-decaying-ekzykes-720x720.jpg');
background-size: 100%;
background-repeat: no-repeat;
}
.div4 { grid-area: 8 / 6 / 11 / 9;
    border: solid 2px;
    background-size: 100%;
    display: block;
    height: 200px;
    margin-top: 30px;
  margin-right: 25px;
  background: url(img/bridgedragon.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.div5 { grid-area: 4 / 2 / 8 / 7; 
border: solid black 2px;
background-color: #007281;
height: 250px;
margin-left: 100px;
margin-top: 25px;
background-repeat: no-repeat;
}

.parentCon {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div7 { grid-area: 1 / 1 / 7 / 4; }


    .div8 { grid-area: 1 / 4 / 7 / 7;
    background-image: url(petpics/VolcanoManor-1024x576.png);
    border: solid;
    height: 500px;
    }

.pet-p{
    z-index: 3;
    color: aliceblue;
}

#textemail{
    height: 500px;
    width: 500px;
}



.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    border: #6f989b solid 3px;
  }

.contact{
background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(petpics/VolcanoManor-1024x576.png) 
no-repeat center;
}

#market{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .parentCon{
        display: block;
        width: 100%;
        height: 100%;

    }
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .div1{
        position: relative;
        height: 100px;
        margin-bottom: 0px;
    }
    .div2{
        background-repeat: no-repeat;
        height: 100px;
        position: relative;
        margin-bottom: 0px;
    }
    .div3{
        background-repeat: no-repeat;
        height: 100px;
        position: relative;
    }
    .div4{
        background-repeat: no-repeat;
        height: 100px;
        position: relative;
    }

    .div5{
        height: 500px;
        grid-area: 2 / 2 / 8 / 7;
    }
    
    
    .parentCon{
        display: block;
        width: 100%;
        height: 100%;

    }
    .div7{
        margin-left: 20px;
    }
    .div8{
        margin-left: 15px;
    }
}
@media only screen and (max-width: 400px){
	
    .div1{
        height: 50px;
        position: relative;
        background-image: 75px;
    }
    .div2{
        height: 50px;
        position: relative;
        background-image: 200px;
    }
    .div3{
        height: 50px;
    }
    .div4{
        height: 50px;
    }
   .div5{
       position: relative;
       margin-right: 20px;
       width: 200px;
       max-height: 250px;
       overflow: hidden;
       -webkit-transition: max-height 0.7s;
       -moz-transition: max-height .07s;
       transition: 0.7s;

   }
   .div5.open{
       max-height: 450px;
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height .07s;
    transition: 0.7s;
   }

    .parentCon{
        display: block;
        width: 100%;
        height: 100%;

    }
    .div7{
        margin-right: 800px;
        position: relative;

    }
    .div8{
        background-image: url(petpics/VolcanoManor-1024x576.png);
        background-position-x:  1950px;
        position: relative;
    }
   
}